.wallet-container{
    padding-bottom: 50px;
    min-height: 40vh;
    padding-top: 22px;
    /* background: transparent; */
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
.wallettimestamp{
  font-size: 12px;
}
.wallet-tab-content .tab-pane{
  
  /* min-width: 100% !important; */
  max-width: 600px !important;
}


.nav-link {
    color: red !important;
    cursor: pointer;
}
/* Override active link background color */
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
      color: white !important;
    background: linear-gradient(to bottom right,red,black 150%) !important;
    box-shadow: 0px 0px 2px red;
  }
  .wallet-tab-content{
    min-height: 40vh;
  }